:root{
  --darkColor: #202020;
  --darkColor2: rgb(59, 59, 59);
  --whiteColor: rgb(255, 255, 255);
  --whiteColor2: rgb(233, 233, 233);
  --redColor: rgb(228, 0, 0);
  --redColor2:rgb(217, 0, 0);
  --standardShadow: 2px 2px 10px 2px rgb(237, 237, 237);
  --accentColor: #47a525;
  --anotherAccent: #f37e10;
  --blue: #2879f3;
  overflow-x: hidden;
}

::-webkit-scrollbar{
  width: 5px;
}
/* ::-webkit-scrollbar-track{
  width: 10px;
} */
::-webkit-scrollbar-thumb{
  background-color: var(--anotherAccent);
  border-radius: 20px;
}
/* ::-webkit-scrollbar-button{
  background-color: var(--anotherAccent);
  color: red;
} */

.topNav{
  display: flex;
  flex-direction: row;
  background-color: var(--whiteColor);
  align-items: center;
  padding: 12.5px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: 5px 5px 20px 2px rgb(237, 237, 237);
  justify-content: space-between;
}
.topNav .links{
  text-decoration: none;
  color: var(--darkColor);
  margin: 0 25px;
  white-space: nowrap;
}
.topNav .topLeft{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.topNav .topLeft .menuButton{
  background-color: var(--whiteColor);
  color: var(--darkColor);
  place-items: center;
  border: none;
  outline: none;
  border-radius: 10px;
  margin: auto 5vw;
  padding: 11.5px;
  display: none;
  font-size: 1.2em;
}



.topNav .topLeft img{
  border-radius: 5px;
  height: 40px;
  /* aspect-ratio: 1500 / 935; */
  aspect-ratio: 1242 / 644;
}
.topNav .topRight{
  display: flex;
  flex-direction: row;
  align-items: center;
  /* padding: 5px; */
}
.topNav .topRight .login{
  text-align: right;
  font-size: 30px;
}
.topNav .topRight .login:is(:hover, :active){
  color: var(--anotherAccent);
}




.topNav .topRight .paste-button {
  display: none;
  font-size: .875em;
  position: relative;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 2px solid var(--anotherAccent);
  border-radius: 15px;
}

.topNav .topRight .paste-button .button {
  background-color: inherit;
  color: #212121;
  padding: 10px 15px;
  font-size: 15px;
  font-weight: bold;
  border: 2px solid transparent;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
}

.topNav .topRight .paste-button .dropdown-content {
  display: none;
  font-size: 13px;
  position: absolute;
  float: right;
  right: 0;
  z-index: 1;
  width: max-content;
  background-color: #212121;
  /* outline: 2px var(--anotherAccent); */
  border: none;
  border-radius: 15px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.topNav .topRight .paste-button .dropdown-content .links {
  color: var(--anotherAccent);
  padding: 8px 10px;
  text-decoration: none;
  display: list-item;
  transition: 0.1s;
  border-radius: 10px;
}

.topNav .topRight .paste-button .dropdown-content .links:is(:hover, :focus, :active) {
  background-color: var(--anotherAccent);
  color: var(--darkColor);
}

/* .topNav .topRight .paste-button:is(:hover, :active) button {
  border-radius: 15px 15px 0px 0px;
} */

.topNav .topRight .paste-button:is(:hover, :active) .dropdown-content {
  display: block;
}






.hugePanel{
  background-color: var(--whiteColor);
  display: flex;
  justify-content: space-between;
  padding: 100px 0;
  background-image: url(https://s.yimg.com/uu/api/res/1.2/nHPs__xLPrUyxZZXSRf_cA--~B/Zmk9ZmlsbDtoPTYzMDtweW9mZj0wO3c9MTIwMDthcHBpZD15dGFjaHlvbg--/https://img.vidible.tv/prod/2019-10/04/5d969d6427f25f49a01491f8/5d969e94b0f8f739f675ab22_o_U_v1.png.cf.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  overflow-x: hidden;
  transition: 1s all ease-in-out;
}
.hugePanel :where(.hugePanelLeft, .hugePanelRight){
  position: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 10vw;
  font-size: 30px;
  cursor: pointer;
}
.hugePanel :where(.hugePanelLeft, .hugePanelRight) span:is(:hover, :active){
  transition: .25s ease;
  font-size: 25px;
}
.hugePanel .hugePanelLeft{
  background-image: linear-gradient(to right, var(--whiteColor), rgba(255, 255, 255, 0.703), rgba(255, 255, 255, 0.208), rgba(255, 255, 255, 0.075));
}
.hugePanel .hugePanelRight{
  background-image: linear-gradient(to left, var(--whiteColor), rgba(255, 255, 255, 0.703), rgba(255, 255, 255, 0.208), rgba(255, 255, 255, 0.075));
}
.hugePanel .hasSearch{
  position: relative;
}
.hugePanel .hasSearch input[type="search"]{
  border: none;
  outline: none;
  padding: 15px;
  box-shadow: 5px 5px 20px 2px rgb(78, 78, 78);
  border-radius: 7.5px;
  transition: .25s all ease-in-out;
  opacity: .7;
}
.hugePanel .hasSearch input[type="search"]:is(:hover, :focus){
  opacity: .9;
}

.hugePanel .hasSearch input[type="search"]::-webkit-search-cancel-button{
  appearance: none;
}
.hugePanel .hasSearch .icon{
  position: absolute;
  top: 13.5px;
  float: right;
  right: 10px;
  transition: .25s ease;
  display: none;
}
.hugePanel .hasSearch .icon:hover{
  transform: rotate(90deg);
}

.homeContent{
  display: flex;
  flex-direction: row;
  /* overflow-y: hidden; */
}
.homeContent aside{
  width: 25%;
  padding: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 75px;
  height: calc(90vh - 75px);
  font-size: .875em;
  transition: .25s all ease;
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: var(--standardShadow);
}
.homeContent aside > div{
  background-color: inherit;
  width: 100%;
  height: max-content;
  margin-top: 25%;
}
.homeContent aside div div button{
  position: relative;
  width: 100%;
  padding: 15px;
  border: none;
  outline: none;
  background-color: inherit;
}
.homeContent aside div div button:hover{
  background-color: var(--anotherAccent);
}
.homeContent aside .closeMenu{
  transition: .1s ease-in-out;
  display: none;
}
.homeContent aside > div > div div.snapOne{
  display: none;
}
.homeContent .homeRight{
  position: relative;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 100px;
}

.homeContent .homeRight .imageDiv{
  position: relative;
  width: 15em;
  overflow: hidden;
  display: grid;
  height: max-content;
  box-shadow: 2px 2px 10px 2px rgb(237, 237, 237);
  border-radius: 10px;
  padding: 0 0 20px 0;
  transition: .25s ease;
  min-width: 82.5px;
  padding: 2px;
  margin: 5px;
  margin-bottom: 12.5px;
  /* background-color: red; */
}

.homeContent .homeRight .imageDiv :where(.itemName){
  color: var(--accentColor);
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90%;
  padding: 0 5px;
  pointer-events: none;
  font-size: .875em;
}
.homeContent .homeRight .imageDiv :where(.price){
  font-size: .8875em;
  padding: 0 5px;
}

.homeContent .homeRight .imageDiv .stars{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 0;
  width: 70%;
  left: 15%;
  color: rgb(163, 163, 163);
}
.checked{
  color: var(--anotherAccent);
}
.homeContent .homeRight .imageDiv .stars span{
  cursor: pointer;
}

.homeContent .homeRight .imageDiv:hover{
  box-shadow: none;
  transform: translateY(12.5px);
}
.homeContent .homeRight .imageDiv img{
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  aspect-ratio: 4/3;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
  height: max-content;
}
.homeContent .homeRight .adDiv1{
  position: relative;
  top: -600px;
  width: 100%;
  height: 50px;
  background-color: red;
}




.zoomClass{
  -webkit-animation: zoom .3s;
  animation: zoom .3s;
}
@keyframes zoom {
  from{
    transform: scale(0);
  }
  to{
    transform: scale(1);
  }
}
@-webkit-keyframes zoom {
  from{
    -webkit-transform: scale(0);
  }
  to{
    -webkit-transform: scale(1);
  }
}

.loadingModal{
  position: fixed;
  top: 0;
  left: 0;
  height: 150dvh;
  width:  100vw;
  background-color: var(--whiteColor);
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 0;
  z-index: 3;
}

.loadingModal .loading{
  position: relative;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100dvw;
  background-color: inherit;
  display: grid;
  place-items: center;
}
.loadingModal .loading .dot-spinner {
  --uib-size: 2.8rem;
  --uib-speed: .9s;
  --uib-color: #183153;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: var(--uib-size);
  width: var(--uib-size);
}

.loadingModal .loading .dot-spinner__dot {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

.loadingModal .loading .dot-spinner__dot::before {
  content: '';
  height: 20%;
  width: 20%;
  border-radius: 50%;
  background-color: var(--uib-color);
  transform: scale(0);
  opacity: 0.5;
  animation: pulse0112 calc(var(--uib-speed) * 1.111) ease-in-out infinite;
  box-shadow: 0 0 20px rgba(18, 31, 53, 0.3);
}

.loadingModal .loading .dot-spinner__dot:nth-child(2) {
  transform: rotate(45deg);
}

.loadingModal .loading .dot-spinner__dot:nth-child(2)::before {
  animation-delay: calc(var(--uib-speed) * -0.875);
}

.loadingModal .loading .dot-spinner__dot:nth-child(3) {
  transform: rotate(90deg);
}

.loadingModal .loading .dot-spinner__dot:nth-child(3)::before {
  animation-delay: calc(var(--uib-speed) * -0.75);
}

.loadingModal .loading .dot-spinner__dot:nth-child(4) {
  transform: rotate(135deg);
}

.loadingModal .loading .dot-spinner__dot:nth-child(4)::before {
  animation-delay: calc(var(--uib-speed) * -0.625);
}

.loadingModal .loading .dot-spinner__dot:nth-child(5) {
  transform: rotate(180deg);
}

.loadingModal .loading .dot-spinner__dot:nth-child(5)::before {
  animation-delay: calc(var(--uib-speed) * -0.5);
}

.loadingModal .loading .dot-spinner__dot:nth-child(6) {
  transform: rotate(225deg);
}

.loadingModal .loading .dot-spinner__dot:nth-child(6)::before {
  animation-delay: calc(var(--uib-speed) * -0.375);
}

.loadingModal .loading .dot-spinner__dot:nth-child(7) {
  transform: rotate(270deg);
}

.loadingModal .loading .dot-spinner__dot:nth-child(7)::before {
  animation-delay: calc(var(--uib-speed) * -0.25);
}

.loadingModal .loading .dot-spinner__dot:nth-child(8) {
  transform: rotate(315deg);
}

.loadingModal .loading .dot-spinner__dot:nth-child(8)::before {
  animation-delay: calc(var(--uib-speed) * -0.125);
}

@keyframes pulse0112 {
  0%,
  100% {
    transform: scale(0);
    opacity: 0.5;
  }

  50% {
    transform: scale(1);
    opacity: 1;
  }
}




/* cookie card */
.cookieCard {
  width: 300px;
  height: max-content;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 30px;
  gap: 13px;
  position: fixed;
  bottom: 0px;
  float: left;
  left: calc(50vw - 150px);
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.062);
  z-index: 2;
}

.cookieCard #cookieSvg {
  width: 50px;
}

.cookieCard #cookieSvg g path {
  fill: rgb(97, 81, 81);
}

.cookieCard .cookieHeading {
  font-size: 1.2em;
  font-weight: 800;
  color: rgb(26, 26, 26);
}

.cookieCard .cookieDescription {
  text-align: center;
  font-size: 0.7em;
  font-weight: 600;
  color: rgb(99, 99, 99);
}

.cookieCard .cookieDescription a {
  --tw-text-opacity: 1;
  color: rgb(59 130 246);
}

.cookieCard .cookieDescription a:hover {
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}

.cookieCard .abolishCookieCard{
  background-color: var(--whiteColor);
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 5%;
}
.cookieCard .abolishCookieCard span{
  text-align: center;
  font-size: 0.7em;
  font-weight: 600;
  color: rgb(99, 99, 99);
}
.clear {
  clear: both;
}

.cookieCard .abolishCookieCard .checkBox {
  display: block;
  cursor: pointer;
  width: 10px;
  height: 10px;
  border: 3px solid rgba(255, 255, 255, 0);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 0px 2px var(--darkColor);
}

.cookieCard .abolishCookieCard .checkBox div {
  width: 60px;
  height: 60px;
  background-color: var(--darkColor);
  top: -52px;
  left: -52px;
  position: absolute;
  transform: rotateZ(45deg);
  z-index: 100;
}

.cookieCard .abolishCookieCard .checkBox input[type=checkbox]:checked + div {
  left: -10px;
  top: -10px;
}

.cookieCard .abolishCookieCard .checkBox input[type=checkbox] {
  position: absolute;
  left: 50px;
  visibility: hidden;
}

.cookieCard .abolishCookieCard .transition {
  transition: 300ms ease;
}






.cookieCard .buttonContainer {
  display: flex;
  gap: 20px;
  flex-direction: row;
}

.cookieCard .buttonContainer .acceptButton {
  width: 80px;
  height: 30px;
  background-color: #7b57ff;
  transition-duration: .2s;
  border: none;
  color: rgb(241, 241, 241);
  cursor: pointer;
  font-weight: 600;
  border-radius: 20px;
  box-shadow: 0 4px 6px -1px #977ef3, 0 2px 4px -1px #977ef3;
  transition: all .6s ease;
}

.cookieCard .buttonContainer .declineButton {
  width: 80px;
  height: 30px;
  background-color: #dadada;
  transition-duration: .2s;
  color: rgb(46, 46, 46);
  border: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 20px;
  box-shadow: 0 4px 6px -1px #bebdbd, 0 2px 4px -1px #bebdbd;
  transition: all .6s ease;
}

.cookieCard .buttonContainer .declineButton:hover {
  background-color: #ebebeb;
  box-shadow: 0 10px 15px -3px #bebdbd, 0 4px 6px -2px #bebdbd;
  transition-duration: .2s;
}

.cookieCard .buttonContainer .acceptButton:hover {
  background-color: #9173ff;
  box-shadow: 0 10px 15px -3px #977ef3, 0 4px 6px -2px #977ef3;
  transition-duration: .2s;
}

.cookieZoom{
  -webkit-animation: zoomIn .625s ease-in;
  animation: zoomIn .625s ease-in;
}
@keyframes zoomIn {
  0% {
    transform: scale(0);
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes zoomIn {
  0% {
    -webkit-transform: scale(0);
  }
  75% {
    -webkit-transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
  }
}






.loginModal{
  position: relative;
  height: max-content;
  width: 100dvw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  padding: 50px 0;
}

.loginModal .card-container {
  padding: 25px;
  width: 350px;
  height: 440px;
  background: transparent;
  position: relative;
  top: 40px;
  margin-bottom: 50px;
}

.loginModal .container {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.loginModal .circle1 {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: #2879f3;
  position: absolute;
  top: 0;
  left: 0;
}

.loginModal .circle2 {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: #f37e10;
  position: absolute;
  right: 0;
  bottom: 0;
}

.loginModal .log-card {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: absolute;
  width: 300px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  padding: 20px;
}

.loginModal .heading {
  font-size: 28px;
  font-weight: 800;
}

.loginModal .para {
  font-size: 14px;
  font-weight: 500;
}

.loginModal .text{
  margin-top: 15px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 600;
  color: lightslategray;
  display: flex;
  margin: 20px auto;
  justify-content: left;
  width: 100%;
}
.loginModal #invalidEmail{
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 600;
  color: rgb(255, 0, 0);
  display: flex;
  margin: auto;
  display: none;
}
.loginModal #accountDoesNotExist{
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 600;
  color: rgb(255, 0, 0);
  display: flex;
  margin: auto;
  display: none;
}

.loginModal .input-group {
  margin-top: 10px;
  margin-bottom: 4px;
}

.loginModal .input {
  box-sizing: border-box;
  margin-bottom: 5px;
  width: 100%;
  border: none;
  padding: 15px;
  background-color: transparent;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  font-weight: 600;
  color: #2879f3;
}

.loginModal .input:hover {
  color: #2879f3;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}

.loginModal .password-group {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.loginModal .checkbox-group {
  color: black;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}

.loginModal .forget-password {
  font-size: 14px;
  font-weight: 500;
  color: #2879f3;
  text-decoration: none;
}

.loginModal .forget-password:hover {
  text-decoration: underline;
  color: #f37e10;
}

.loginModal .btn {
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 8px 16px;
  border: none;
  background-color: #2879f3;
  color: white;
  font-size: 16px;
  font-weight: 700;
  border-radius: 8px;
}

.loginModal .btn:hover {
  background-color: #0653c7;
}

.loginModal .no-account {
  font-size: 16px;
  font-weight: 400;
}

.loginModal .link {
  font-weight: 800;
  color: #2879f3;
}

.loginModal .link:hover {
  color: #f37e10;
  text-decoration: underline;
}






.signup{
  position: relative;
  display: grid;
  height: max-content;
  width: 100vw;
  box-sizing: border-box;
  place-items: center;
}

.signup .form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
  background-color: var(--whiteColor);
  padding: 20px;
  border-radius: 20px;
  position: relative;
  box-sizing: border-box;
  top: 40px;
  margin-bottom: 100px;
}

.signup .title {
  font-size: 28px;
  color: var(--blue);
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.signup .title::before,.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: var(--blue);
}

.signup .title::before {
  width: 18px;
  height: 18px;
  background-color: var(--blue);
}

.signup .title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.signup .message, .signin {
  color: rgba(88, 87, 87, 0.822);
  font-size: 14px;
}

.signup .signin {
  text-align: center;
}

.signup .signin a {
  color: var(--blue);
}

.signup .signin a:hover {
  text-decoration: underline var(--blue);
}

.signup .flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.signup .form label {
  position: relative;
}

.signup .form label .input {
  position: relative;
  width: 100%;
  padding: 15px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
  margin: 10px 0;
  box-sizing: border-box;
}
.signup .form label input[type="password"]{
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.signup .form label .input + span {
  position: absolute;
  left: 10px;
  margin-top: 8.625px;
  color: rgb(85, 85, 85);
  font-size: 0.9em;
  pointer-events: none;
  transition: 0.3s ease;
}

.signup .form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.signup .form label .input:focus + span,.form label .input:valid + span {
  top: -20px;
  font-size: 0.85em;
  font-weight: 600;
  color: var(--anotherAccent);
}

.signup .form label .input:valid + span {
  color: green;
}
.signup .form p a {
  color: var(--anotherAccent);
  text-decoration: none;
}

.signup form #emailAlreadyInUse,
.signup form #checkEmail,
.signup form #shortPassword,
.signup form #badName,
.signup form #passwordMismatch{
  font-weight: bold;
  color: red;
  font-size: .875em;
  display: none;
  margin-bottom: 15px;
}

.signup .submit {
  border: none;
  outline: none;
  background-color: var(--blue);
  padding: 10px;
  border-radius: 10px;
  color: var(--whiteColor);
  font-size: 16px;
  transform: .3s ease;
  width: 100%;
  /* left: 2.5%; */
  position: relative;
}

.signup .submit:hover {
  background-color: var(--anotherAccent);
  cursor: pointer;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

/* item div */
.productDiv{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  padding: 15px;
  gap: 20px;
  color: var(--darkColor);
}
.productDiv .firstDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productDiv .firstDiv .scroll-snap-card .red {
  background-color: #f43f5e;
}

.productDiv .firstDiv .scroll-snap-card .blue {
  background-color: #3b82f6;
}

.productDiv .firstDiv .scroll-snap-card .green {
  background-color: #22c55e;
}

.productDiv .firstDiv .scroll-snap-card {
  height: 250px;
  width: 80%;
  scroll-snap-type: x mandatory; /* Change this to 'x' for horizontal scrolling */
  overflow: auto;
  /* overflow-y: hidden; */
  white-space: nowrap; /* Prevent line breaks */
  border-radius: 10px;
  box-sizing: content-box;
}

.productDiv .firstDiv .scroll-snap-card .slide {
  position: relative;
  width: 100%; /* Adjust the width to match the card's width */
  height: 100%; /* Keep the height at 100% to fill the container vertically */
  scroll-snap-align: start;
  display: inline-block; /* Make the cards inline for horizontal layout */
  align-items: center;
  justify-content: center;
}

.productDiv .firstDiv .scroll-snap-card .slide p {
  font-size: 1em;
  color: white;
  font-weight: 700;
}






.productDiv .firstDiv img{
  max-width: 350px;
  position: relative;
  width: 100%;
  object-fit: cover;
  height: max-content;
  border-top: 3px solid var(--anotherAccent);
  border-radius: 10px;
}
.productDiv .firstDiv div{
  margin: 5% auto;
  width: 90%;
}
.productDiv .firstDiv div:first-of-type{
  position: relative;
}
.productDiv .firstDiv div:nth-of-type(2){
  position: relative;
  box-shadow: 0 0 10px 5px rgb(222, 222, 222);
  padding: 20px;
  border-radius: 10px;
}
.productDiv .firstDiv div:first-of-type p{
  display: flex;
  flex-direction: row;
  align-items: center;
}



.productDiv .firstDiv button.cartBtn {
  width: 155px;
  height: 50px;
  border: none;
  border-radius: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  color: white;
  font-weight: 500;
  position: relative;
  background-color: rgb(29, 29, 29);
  box-shadow: 0 20px 30px -7px rgba(27, 27, 27, 0.219);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  overflow: hidden;
}

.productDiv .firstDiv button.cartBtn .cart {
  z-index: 2;
}

.productDiv .firstDiv button.cartBtn:active {
  transform: scale(0.96);
}

.productDiv .firstDiv button.cartBtn .product {
  position: absolute;
  width: 12px;
  border-radius: 3px;
  content: "";
  left: 23px;
  bottom: 23px;
  opacity: 0;
  z-index: 1;
  fill: rgb(211, 211, 211);
}

.productDiv .firstDiv button.cartBtn:hover .product {
  animation: slide-in-top 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-30px);
    opacity: 1;
  }

  100% {
    transform: translateY(0) rotate(-90deg);
    opacity: 1;
  }
}

.productDiv .firstDiv button.cartBtn:hover .cart {
  animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-10px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.productDiv .firstDiv button.sendMessage {
  appearance: none;
  background-color: transparent;
  border: 0.125em solid #1A1A1A;
  /* border-radius: 0.9375em; */
  border-radius: 0;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 25px 0;
  min-height: 3.75em;
  min-width: 0;
  outline: none;
  padding: 1em 2.3em;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
  will-change: transform;
 }
 
 .productDiv .firstDiv button.sendMessage:disabled {
  pointer-events: none;
 }
 
 .productDiv .firstDiv button.sendMessage:hover {
  color: var(--whiteColor);
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
 }
 
 .productDiv .firstDiv button.sendMessage:active {
  box-shadow: none;
  transform: translateY(0);
 }





.productDiv .secondDiv{
  position: relative;
  display: flex;
  flex-direction: column;
}
.productDiv .secondDiv div{
  margin: 5% auto;
}
.productDiv .secondDiv div:first-child{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: max-content;
  box-shadow: 0 0 10px 5px rgb(222, 222, 222);
  padding: 20px;
  width: 90%;
  border-radius: 10px;
}

.productDiv .secondDiv div:first-child .profile{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: inherit;
  box-shadow: 0 0 20px 1px rgb(215, 215, 215);
  display: grid;
  place-items: center;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  transition: .375s ease;
}
.productDiv .secondDiv div:first-child .profile:hover{
  transform: scale(.97);
  box-shadow: 0 0 5px 1px rgb(215, 215, 215);
}
.productDiv .secondDiv div:first-child #itemIsService{
  position: relative;
  display: none;
  padding: 10px;
}
.productDiv .secondDiv div:first-child .linkToSeller{
  text-decoration: none;
}
.productDiv .secondDiv div:first-child button.callSeller {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0;
  background: var(--darkColor);
  font-family: "Montserrat", sans-serif;
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border: none;
}

.productDiv .secondDiv button.callSeller:after {
  content: " ";
  width: 0%;
  height: 100%;
  background: var(--anotherAccent);
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: auto;
  left: auto;
}

.productDiv .secondDiv button.callSeller:hover::after {
  right: auto;
  left: auto;
  width: 100%;
}

.productDiv .secondDiv button.callSeller > span {
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 18px 25px;
  color: #fff;
  font-size: 1.125em;
  font-weight: 700;
  letter-spacing: 0.3em;
  z-index: 20;
  transition: all 0.3s ease-in-out;
}

.productDiv .secondDiv button.callSeller:hover > span {
  color: #183153;
  animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}

.productDiv .secondDiv div:nth-child(2){
  display: flex;
  flex-direction: column;
  align-items: center;
  height: max-content;
  box-shadow: 0 0 10px 5px rgb(222, 222, 222);
  padding: 20px;
  width: 90%;
  border-radius: 10px;
  height: max-content;
}

.productDiv .secondDiv div:nth-child(2) ul .r_abuse {
  text-decoration: none;
  color: var(--redColor);
  line-height: 2;
  position: relative;
}

.productDiv .secondDiv div:nth-child(2) ul .r_abuse::before {
  content: '';
  width: 0;
  height: 2px;
  border-radius: 2px;
  background-color: var(--redColor);
  position: absolute;
  bottom: -.25rem;
  right: 0;
  transition: right .4s, width .4s, left .4s;
}

.productDiv .secondDiv div:nth-child(2) ul .r_abuse:hover::before {
  width: 100%;
  left: 0;
}













/* media query */
@media screen and (max-width: 1056px) {
  .homeContent aside{
    width: 35%;
  }
}
@media screen and (max-width: 792px) {
  .topNav .topLeft .menuButton{
    display: grid;
  }
  .homeContent aside{
    position: fixed;
    float: left;
    left: -200vw;
    top: 10px;
    background-color: var(--whiteColor);
    z-index: 2;
    border-radius: 15px;
    height: 90vh;
    width: 35%;
    /* overflow: hidden; */
  }
  .homeContent aside span.closeMenu{
    display: grid !important;
    place-items: center;
    position: -webkit-sticky;
    position: sticky;
    float: right;
    right: 5%;
    font-size: 25px;
    color: var(--redColor);
    cursor: pointer;
    z-index: 3;
    top: 5%;
    transition: .375s all ease;
    background-color: inherit;
    padding: 5px;
    border-radius: 50%;
  }
  .homeContent aside span.closeMenu:is(:hover, :active){
    transform: rotate(90deg);
  }
  .homeContent aside > div{
    position: relative;
    top: 2.5%;
    height: max-content;
    overflow: auto;
  }
  .homeContent aside > div div:first-child{
    position: relative;
    /* height: 50%; */
    overflow-y: auto;
  }
  .homeContent aside > div div:last-child{
    position: relative;
    margin-top: 10%;
  }
  .homeContent .homeRight .imageDiv{
    margin: 2px;
  }
}


@media screen and (max-width: 690px){
  .homeContent aside{
    width: 35%;
  }
}

@media screen and (max-width: 610px){
  .homeContent aside{
    width: 40%;
  }
}

@media screen and (max-width: 620px){
}

@media screen and (max-width: 570px){
  .homeContent .homeRight .imageDiv{
    width: 27.5%;
    margin: 5px;
  }
}

@media screen and (max-width: 490px){
  .homeContent aside{
    width: 45%;
  }
  .hugePanel{
    background-size: cover;
  }
}


@media screen and (max-width: 450px) {
  .topNav .topLeft .companyName{
    display: none;
  }
  .topNav .topLeft .menuButton{
    margin: 0;
  }
  .topNav{
    justify-content: space-between;
    padding: .625em;
  }
  .homeContent .homeRight .imageDiv{
    width: 45%;
  }
  .homeContent .homeRight .imageDiv:hover{
    transform: none;
    box-shadow: 2px 2px 10px 2px rgb(237, 237, 237);
  }
  .homeContent .homeRight .imageDiv:active{
    transform: scale(.95);
  }
  .homeContent .homeRight .imageDiv img{
    aspect-ratio: 1;
  }
  .homeContent .homeRight .imageDiv .itemName{
    font-size: .825em;
  }
  .homeContent aside{
    width: 50%;
  }
  .homeContent aside > div > div div.snapOne{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  .homeContent aside div > div > .snapOne .links{
    color: var(--anotherAccent);
    text-decoration: none;
    margin: 12.5%;
  }


  .productDiv{
    padding: 1.25px;
  }
  .productDiv .firstDiv img{
    max-width: 87.5vw;
  }
  .productDiv :where(.firstDiv, .secondDiv){
    width: calc(100vw - 5px);
    margin: 0;
    position: relative;
  }
  .productDiv .secondDiv > div, .productDiv .firstDiv > div{
    position: relative;
    max-width: 80%;
  }
}

@media screen and (max-width: 413px) {
}

@media screen and (max-width: 380px) {
  .homeContent aside{
    width: 80%;
  }
}

@media screen and (max-width: 292px){
  .homeContent .homeRight .imageDiv{
    width: 40%;
  }
}

@media screen and (max-width: 260px) {
  .homeContent aside{
    width: 75vw;
  }
  .hugePanel .hasSearch input{
    width: 75vw;
  }
}
@media screen and (max-width: 240px){
  .homeContent .homeRight .imageDiv{
    width: 80%;
  }
}