:root{
  --darkColor: rgb(32, 32, 32);
  --darkColor2: rgb(59, 59, 59);
  --whiteColor: rgb(255, 255, 255);
  --whiteColor2: rgb(233, 233, 233);
  --redColor: rgb(228, 0, 0);
  --redColor2:rgb(217, 0, 0);
  --standardShadow: 2px 2px 10px 2px rgb(237, 237, 237);
  --accentColor: rgb(71, 165, 37);
  --anotherAccent: #FFD401;
  overflow-x: hidden;
}

::-webkit-scrollbar{
  width: 5px;
}
/* ::-webkit-scrollbar-track{
  width: 10px;
} */
::-webkit-scrollbar-thumb{
  background-color: var(--anotherAccent);
  border-radius: 20px;
}
/* ::-webkit-scrollbar-button{
  background-color: var(--anotherAccent);
  color: red;
} */

.topNav{
  display: flex;
  flex-direction: row;
  background-color: var(--whiteColor);
  align-items: center;
  padding: 12.5px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: 5px 5px 20px 2px rgb(237, 237, 237);
  justify-content: space-between;
}
.topNav .links{
  text-decoration: none;
  color: var(--darkColor);
  margin: 0 25px;
  white-space: nowrap;
}
.topNav .topLeft{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.topNav .topLeft .menuButton{
  background-color: var(--darkColor);
  color: var(--whiteColor);
  place-items: center;
  border: none;
  outline: none;
  border-radius: 5px;
  margin: auto 5vw;
  padding: 11.5px;
  display: none;
  font-size: 1.2em;
}



.topNav .topLeft img{
  width: 40px;
  height: 40px;
  border-radius: 5px;
}
.topNav .topRight{
  display: flex;
  flex-direction: row;
  align-items: center;
  /* padding: 5px; */
}
.topNav .topRight .login{
  text-align: right;
  font-size: 30px;
}
.topNav .topRight .login:is(:hover, :active){
  color: var(--anotherAccent);
}
.topNav .topRight .customer{
  font-size: 30px;
  display: grid;
  place-items: center;
  display: none;
}

.hugePanel{
  background-color: var(--whiteColor);
  display: flex;
  justify-content: space-between;
  padding: 100px 0;
  background-image: url(https://s.yimg.com/uu/api/res/1.2/nHPs__xLPrUyxZZXSRf_cA--~B/Zmk9ZmlsbDtoPTYzMDtweW9mZj0wO3c9MTIwMDthcHBpZD15dGFjaHlvbg--/https://img.vidible.tv/prod/2019-10/04/5d969d6427f25f49a01491f8/5d969e94b0f8f739f675ab22_o_U_v1.png.cf.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  overflow-x: hidden;
  transition: 1s all ease-in-out;
}
.hugePanel :where(.hugePanelLeft, .hugePanelRight){
  position: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 10vw;
  font-size: 30px;
  cursor: pointer;
}
.hugePanel :where(.hugePanelLeft, .hugePanelRight) span:is(:hover, :active){
  transition: .25s ease;
  font-size: 25px;
}
.hugePanel .hugePanelLeft{
  background-image: linear-gradient(to right, var(--whiteColor), rgba(255, 255, 255, 0.703), rgba(255, 255, 255, 0.208), rgba(255, 255, 255, 0.075));
}
.hugePanel .hugePanelRight{
  background-image: linear-gradient(to left, var(--whiteColor), rgba(255, 255, 255, 0.703), rgba(255, 255, 255, 0.208), rgba(255, 255, 255, 0.075));
}
.hugePanel .hasSearch{
  position: relative;
}
.hugePanel .hasSearch input[type="search"]{
  border: none;
  outline: none;
  padding: 15px;
  box-shadow: 5px 5px 20px 2px rgb(78, 78, 78);
  border-radius: 7.5px;
  transition: .25s all ease-in-out;
  opacity: .7;
}
.hugePanel .hasSearch input[type="search"]:is(:hover, :focus){
  opacity: .9;
}

.hugePanel .hasSearch input[type="search"]::-webkit-search-cancel-button{
  appearance: none;
}
.hugePanel .hasSearch .icon{
  position: absolute;
  top: 13.5px;
  float: right;
  right: 10px;
  transition: .25s ease;
  display: none;
}
.hugePanel .hasSearch .icon:hover{
  transform: rotate(90deg);
}

.homeContent{
  display: flex;
  flex-direction: row;
  /* overflow-y: hidden; */
}
.homeContent aside{
  width: 25%;
  padding: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 75px;
  height: calc(90vh - 75px);
  font-size: .875em;
  transition: .25s all ease;
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: var(--standardShadow);
}
.homeContent aside > div{
  background-color: inherit;
  width: 100%;
  height: max-content;
  margin-top: 25%;
}
.homeContent aside div div button{
  position: relative;
  width: 100%;
  padding: 15px;
  border: none;
  outline: none;
  background-color: inherit;
}
.homeContent aside div div button:hover{
  background-color: var(--anotherAccent);
}
.homeContent aside .closeMenu{
  transition: .1s ease-in-out;
  display: none;
}
.homeContent aside > div > div div.snapOne{
  display: none;
}
.homeContent .homeRight{
  position: relative;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.homeContent .homeRight .imageDiv{
  position: relative;
  width: 20%;
  overflow: hidden;
  display: grid;
  height: max-content;
  box-shadow: 2px 2px 10px 2px rgb(237, 237, 237);
  border-radius: 10px;
  padding: 0 0 20px 0;
  transition: .25s ease;
  min-width: 82.5px;
  padding: 2px;
  margin: 5px;
  margin-bottom: 12.5px;
  /* background-color: red; */
}

.homeContent .homeRight .imageDiv :where(.itemName){
  color: var(--accentColor);
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90%;
  padding: 0 5px;
  pointer-events: none;
  font-size: .875em;
}
.homeContent .homeRight .imageDiv :where(.price){
  font-size: .8875em;
  padding: 0 5px;
}

.homeContent .homeRight .imageDiv .stars{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 10%;
  width: 70%;
  left: 15%;
  color: rgb(163, 163, 163);
}
.homeContent .homeRight .imageDiv .stars span{
  cursor: pointer;
}

.homeContent .homeRight .imageDiv:hover{
  box-shadow: none;
  transform: translateY(12.5px);
}
.homeContent .homeRight .imageDiv img{
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  aspect-ratio: 3/4;
  object-fit: cover;
  border-radius: 10px;
}

.zoomClass{
  -webkit-animation: zoom .3s;
  animation: zoom .3s;
}
@keyframes zoom {
  from{
    transform: scale(0);
  }
  to{
    transform: scale(1);
  }
}
@-webkit-keyframes zoom {
  from{
    -webkit-transform: scale(0);
  }
  to{
    -webkit-transform: scale(1);
  }
}

.loadingModal{
  position: fixed;
  top: 0;
  left: 0;
  height: 150dvh;
  width:  100vw;
  background-color: var(--whiteColor);
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 0;
  z-index: 2;
}

.loadingModal .loading{
  position: relative;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100dvw;
  background-color: inherit;
  display: grid;
  place-items: center;
}
.loadingModal .loading .dot-spinner {
  --uib-size: 2.8rem;
  --uib-speed: .9s;
  --uib-color: #183153;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: var(--uib-size);
  width: var(--uib-size);
}

.loadingModal .loading .dot-spinner__dot {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

.loadingModal .loading .dot-spinner__dot::before {
  content: '';
  height: 20%;
  width: 20%;
  border-radius: 50%;
  background-color: var(--uib-color);
  transform: scale(0);
  opacity: 0.5;
  animation: pulse0112 calc(var(--uib-speed) * 1.111) ease-in-out infinite;
  box-shadow: 0 0 20px rgba(18, 31, 53, 0.3);
}

.loadingModal .loading .dot-spinner__dot:nth-child(2) {
  transform: rotate(45deg);
}

.loadingModal .loading .dot-spinner__dot:nth-child(2)::before {
  animation-delay: calc(var(--uib-speed) * -0.875);
}

.loadingModal .loading .dot-spinner__dot:nth-child(3) {
  transform: rotate(90deg);
}

.loadingModal .loading .dot-spinner__dot:nth-child(3)::before {
  animation-delay: calc(var(--uib-speed) * -0.75);
}

.loadingModal .loading .dot-spinner__dot:nth-child(4) {
  transform: rotate(135deg);
}

.loadingModal .loading .dot-spinner__dot:nth-child(4)::before {
  animation-delay: calc(var(--uib-speed) * -0.625);
}

.loadingModal .loading .dot-spinner__dot:nth-child(5) {
  transform: rotate(180deg);
}

.loadingModal .loading .dot-spinner__dot:nth-child(5)::before {
  animation-delay: calc(var(--uib-speed) * -0.5);
}

.loadingModal .loading .dot-spinner__dot:nth-child(6) {
  transform: rotate(225deg);
}

.loadingModal .loading .dot-spinner__dot:nth-child(6)::before {
  animation-delay: calc(var(--uib-speed) * -0.375);
}

.loadingModal .loading .dot-spinner__dot:nth-child(7) {
  transform: rotate(270deg);
}

.loadingModal .loading .dot-spinner__dot:nth-child(7)::before {
  animation-delay: calc(var(--uib-speed) * -0.25);
}

.loadingModal .loading .dot-spinner__dot:nth-child(8) {
  transform: rotate(315deg);
}

.loadingModal .loading .dot-spinner__dot:nth-child(8)::before {
  animation-delay: calc(var(--uib-speed) * -0.125);
}

@keyframes pulse0112 {
  0%,
  100% {
    transform: scale(0);
    opacity: 0.5;
  }

  50% {
    transform: scale(1);
    opacity: 1;
  }
}

.loginModal{
  position: relative;
  height: max-content;
  width: 100dvw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  padding: 50px 0;
}
.loginModal form{
  width: 350px;
  box-shadow: var(--standardShadow);
  padding: 25px;
  border-radius: 10px;
}
.loginModal form label{
  position: relative;
  /* background-color: red; */
  width: 100%;
  margin: 25px 0;
  display: grid;
  place-items: center;
  /* overflow-x: hidden; */
}
.loginModal form label input{
  position: relative;
  width: 300px;
  padding: 15px;
  border: none;
  border-bottom: 1px solid var(--darkColor);
  outline: none;
  background-color: transparent;
}
.loginModal form label span{
  position: absolute;
  top: 8.75px;
  left: 15px;
  pointer-events: none;
  transition: .25s ease-out;
}
.loginModal form label input:focus~span,
.loginModal form label input:valid~span{
  transform: translate(200px, -40px);
  background-color: var(--darkColor);
  color: var(--whiteColor);
  padding: 10px;
  border-radius: 10px;
}
.loginModal form .loginSubmissionDiv{
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.loginModal form .loginSubmissionDiv button[type="submit"] {
  position: relative;
  height: 50px;
  width: 150px;
  color: var(--whiteColor);
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 2px;
  background-color: var(--darkColor);
  transition: all 0.5s;
  border: none;
  white-space: nowrap;
  padding: auto 10px;
  border-radius: 15px;
}

.loginModal form .loginSubmissionDiv button[type="submit"]::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(29, 255, 86, 0.281);
  border-radius: 15px;
  transition: all 0.3s;
  z-index: 1;
}

.loginModal form .loginSubmissionDiv button[type="submit"]:hover::before {
  opacity: 0;
  transform: scale(0.7,0.7);
}

.loginModal form .loginSubmissionDiv button[type="submit"]::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.4s;
  border: 1px solid rgba(29, 255, 86, 0.281);
  border-radius: 5px;
  transform: scale(1.5,1.5);
  opacity: 0;
  z-index: 1;
}

.loginModal form .loginSubmissionDiv button[type="submit"]:hover::after {
  opacity: 1;
  transform: scale(1,1);
}

.loginModal form .loginSubmissionDiv button[type="submit"]:hover{
  color: var(--anotherAccent);
}

.loginModal form .loginSubmissionDiv button[type="button"]{
  padding: 15px;
  background-color: var(--redColor);
  color: var(--darkColor);
  border: none;
  outline: none;
  border-radius: 15px;
}
.loginModal form .loginSubmissionDiv button[type="button"]:hover{
  background-color: var(--redColor2);
}
.loginModal form p{
  display: grid;
  place-items: center;
}
.loginModal form p .noAcc{
  text-decoration: underline;
  color: var(--darkColor);
  cursor: pointer;
}
.loginModal form p .noAcc:hover{
  color: var(--accentColor);
}
.signup{
  position: relative;
  display: grid;
  height: max-content;
  width: 100vw;
  box-sizing: border-box;
  place-items: center;
}
.signup form{
  display: flex;
  flex-flow: column nowrap;
  margin: 75px auto;
  position: relative;
  /* background-color: red; */
  width: 300px;
  box-shadow: var(--standardShadow);
  padding: 20px;
  border-radius: 10px;
}
.signup form label{
  margin: 25px 0;
  position: relative;
}
.signup form label input{
  position: relative;
  width: 90%;
  padding: 15px;
  border: none;
  border-bottom: 1px solid var(--darkColor);
  outline: none;
  background-color: transparent;
}
.signup form label span.labelText{
  position: absolute;
  top: 10px;
  left: 15px;
  pointer-events: none;
  transition: .25s all ease;
}
.signup form label input:focus~.labelText,
.signup form label input:valid~.labelText{
  transform: translateY(-42.5px);
  background-color: var(--darkColor);
  border-radius: 5px;
  padding: 5px;
  color: var(--anotherAccent);
}
.signup form label .eye{
  float: right;
  position: absolute;
  transform: translate(-30px, 7.5px);
  font-size: 25px;
  cursor: pointer;
}
.signup form label .eye:hover{
  color: var(--anotherAccent);
}
.signup form .submissionButtons{
  display: grid;
  place-items: center;
  margin: 25px auto;
}



.signup form .submissionButtons > button {
  position: relative;
  height: 50px;
  width: 150px;
  color: var(--whiteColor);
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 2px;
  background-color: var(--darkColor);
  transition: all 0.5s;
  border: none;
  white-space: nowrap;
  padding: auto 10px;
  border-radius: 15px;
}

.signup form .submissionButtons > button::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(29, 255, 86, 0.281);
  border-radius: 15px;
  transition: all 0.3s;
  z-index: 1;
}

.signup form .submissionButtons > button:hover::before {
  opacity: 0;
  transform: scale(0.7,0.7);
}

.signup form .submissionButtons > button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.4s;
  border: 1px solid rgba(29, 255, 86, 0.281);
  border-radius: 5px;
  transform: scale(1.5,1.5);
  opacity: 0;
  z-index: 1;
}

.signup form .submissionButtons > button:hover::after {
  opacity: 1;
  transform: scale(1,1);
}
.signup form .submissionButtons > button:hover{
  color: var(--anotherAccent);
}

.signup form .signupFinale{
  display: grid;
  place-items: center;
}
.signup form .signupFinale .links{
  color: var(--accentColor);
}
.signup form .signupFinale .links:hover{
  color: var(--anotherAccent);
}




/* item div */
.productDiv{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  padding: 15px;
  gap: 20px;
  color: var(--darkColor);
}
.productDiv .firstDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.productDiv .firstDiv img{
  max-width: 350px;
  position: relative;
  width: 100%;
  object-fit: cover;
  height: max-content;
  border-top: 3px solid var(--anotherAccent);
  border-radius: 10px;
}
.productDiv .firstDiv div{
  margin: 5% auto;
  width: 90%;
}
.productDiv .firstDiv div:first-of-type{
  position: relative;
}
.productDiv .firstDiv div:nth-of-type(2){
  position: relative;
  box-shadow: 0 0 10px 5px rgb(222, 222, 222);
  padding: 20px;
  border-radius: 10px;
}
.productDiv .firstDiv div:first-of-type p{
  display: flex;
  flex-direction: row;
  align-items: center;
}



.productDiv .firstDiv button.cartBtn {
  width: 155px;
  height: 50px;
  border: none;
  border-radius: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  color: white;
  font-weight: 500;
  position: relative;
  background-color: rgb(29, 29, 29);
  box-shadow: 0 20px 30px -7px rgba(27, 27, 27, 0.219);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  overflow: hidden;
}

.productDiv .firstDiv button.cartBtn .cart {
  z-index: 2;
}

.productDiv .firstDiv button.cartBtn:active {
  transform: scale(0.96);
}

.productDiv .firstDiv button.cartBtn .product {
  position: absolute;
  width: 12px;
  border-radius: 3px;
  content: "";
  left: 23px;
  bottom: 23px;
  opacity: 0;
  z-index: 1;
  fill: rgb(211, 211, 211);
}

.productDiv .firstDiv button.cartBtn:hover .product {
  animation: slide-in-top 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-30px);
    opacity: 1;
  }

  100% {
    transform: translateY(0) rotate(-90deg);
    opacity: 1;
  }
}

.productDiv .firstDiv button.cartBtn:hover .cart {
  animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-10px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.productDiv .firstDiv button.sendMessage {
  appearance: none;
  background-color: transparent;
  border: 0.125em solid #1A1A1A;
  /* border-radius: 0.9375em; */
  border-radius: 0;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 25px 0;
  min-height: 3.75em;
  min-width: 0;
  outline: none;
  padding: 1em 2.3em;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
  will-change: transform;
 }
 
 .productDiv .firstDiv button.sendMessage:disabled {
  pointer-events: none;
 }
 
 .productDiv .firstDiv button.sendMessage:hover {
  color: var(--whiteColor);
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
 }
 
 .productDiv .firstDiv button.sendMessage:active {
  box-shadow: none;
  transform: translateY(0);
 }





.productDiv .secondDiv{
  position: relative;
  display: flex;
  flex-direction: column;
}
.productDiv .secondDiv div{
  margin: 5% auto;
}
.productDiv .secondDiv div:first-child{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: max-content;
  box-shadow: 0 0 10px 5px rgb(222, 222, 222);
  padding: 20px;
  width: 90%;
  border-radius: 10px;
}

.productDiv .secondDiv div:first-child .profile{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: inherit;
  box-shadow: 0 0 20px 1px rgb(215, 215, 215);
  display: grid;
  place-items: center;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  transition: .375s ease;
}
.productDiv .secondDiv div:first-child .profile:hover{
  transform: scale(.97);
  box-shadow: 0 0 5px 1px rgb(215, 215, 215);
}

.productDiv .secondDiv div:first-child button.callSeller {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0;
  background: var(--darkColor);
  font-family: "Montserrat", sans-serif;
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border: none;
}

.productDiv .secondDiv button.callSeller:after {
  content: " ";
  width: 0%;
  height: 100%;
  background: var(--anotherAccent);
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: auto;
  left: auto;
}

.productDiv .secondDiv button.callSeller:hover::after {
  right: auto;
  left: auto;
  width: 100%;
}

.productDiv .secondDiv button.callSeller > span {
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 18px 25px;
  color: #fff;
  font-size: 1.125em;
  font-weight: 700;
  letter-spacing: 0.3em;
  z-index: 20;
  transition: all 0.3s ease-in-out;
}

.productDiv .secondDiv button.callSeller:hover > span {
  color: #183153;
  animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}

.productDiv .secondDiv div:nth-child(2){
  display: flex;
  flex-direction: column;
  align-items: center;
  height: max-content;
  box-shadow: 0 0 10px 5px rgb(222, 222, 222);
  padding: 20px;
  width: 90%;
  border-radius: 10px;
  height: max-content;
}

.productDiv .secondDiv div:nth-child(2) ul .r_abuse {
  text-decoration: none;
  color: var(--redColor);
  line-height: 2;
  position: relative;
}

.productDiv .secondDiv div:nth-child(2) ul .r_abuse::before {
  content: '';
  width: 0;
  height: 2px;
  border-radius: 2px;
  background-color: var(--redColor);
  position: absolute;
  bottom: -.25rem;
  right: 0;
  transition: right .4s, width .4s, left .4s;
}

.productDiv .secondDiv div:nth-child(2) ul .r_abuse:hover::before {
  width: 100%;
  left: 0;
}













/* media query */
@media screen and (max-width: 1056px) {
  .homeContent aside{
    width: 35%;
  }
}
@media screen and (max-width: 792px) {
  .topNav .topLeft .menuButton{
    display: grid;
  }
  .homeContent aside{
    position: fixed;
    float: left;
    left: -200vw;
    top: 10px;
    background-color: var(--whiteColor);
    z-index: 2;
    border-radius: 15px;
    height: 90vh;
    width: 35%;
    /* overflow: hidden; */
  }
  .homeContent aside span.closeMenu{
    display: grid !important;
    place-items: center;
    position: -webkit-sticky;
    position: sticky;
    float: right;
    right: 5%;
    font-size: 25px;
    color: var(--redColor);
    cursor: pointer;
    z-index: 3;
    top: 5%;
    transition: .375s all ease;
    background-color: var(--whiteColor);
    padding: 5px;
    border-radius: 50%;
    box-shadow: inset 0 0 5px 0 rgb(210, 210, 210);
  }
  .homeContent aside span.closeMenu:hover{
    transform: rotate(90deg);
  }
  .homeContent aside > div{
    position: relative;
    top: 2.5%;
    height: max-content;
    overflow: auto;
  }
  .homeContent aside > div div:first-child{
    position: relative;
    /* height: 50%; */
    overflow-y: auto;
  }
  .homeContent aside > div div:last-child{
    position: relative;
    margin-top: 10%;
  }
  .homeContent .homeRight .imageDiv{
    margin: 2px;
  }
}


@media screen and (max-width: 690px){
  .homeContent aside{
    width: 35%;
  }
}

@media screen and (max-width: 610px){
  .homeContent aside{
    width: 40%;
  }
}

@media screen and (max-width: 620px){
  .imageDivModal .imageDivModalInner{
    outline: 3px groove var(--darkColor);
    width: 75%;
    padding: .25em;
  }
  .imageDivModal .imageDivModalInner .modalleft{
    display: none;
  }
  .imageDivModal .imageDivModalInner .modalright{
    background-image: url(https://images.pexels.com/photos/1612846/pexels-photo-1612846.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgba(32, 32, 32, 0.733);
  }
  .imageDivModal .imageDivModalInner .modalright #itemName{
   display: none;
 }
 .imageDivModal .imageDivModalInner .modalright #itemPrice{
  display: none;
 }
}

@media screen and (max-width: 570px){
  .homeContent .homeRight .imageDiv{
    width: 27.5%;
    margin: 5px;
  }
}

@media screen and (max-width: 490px){
  .homeContent aside{
    width: 45%;
  }
  .hugePanel{
    background-size: cover;
  }
}


@media screen and (max-width: 450px) {
  .topNav .topRight{
    display: none;
  }
  .topNav{
    justify-content: space-between;
    padding: 5px;
  }
  .homeContent .homeRight .imageDiv{
    width: 45%;
  }
  .homeContent .homeRight .imageDiv:hover{
    transform: none;
    box-shadow: 2px 2px 10px 2px rgb(237, 237, 237);
  }
  .homeContent .homeRight .imageDiv:active{
    transform: scale(.95);
  }
  .homeContent .homeRight .imageDiv img{
    aspect-ratio: 1;
  }
  .homeContent .homeRight .imageDiv .itemName{
    font-size: .825em;
  }
  .homeContent aside{
    width: 50%;
  }
  .homeContent aside > div > div div.snapOne{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  .homeContent aside div > div > .snapOne .links{
    color: var(--anotherAccent);
    text-decoration: none;
    margin: 12.5%;
  }
  .homeContent aside div > div > .snapOne .links.customer{
    display: none;
  }
  .loginModal form .loginSubmissionDiv button[type="button"]{
    display: none;
  }


  .productDiv{
    padding: 1.25px;
  }
  .productDiv .firstDiv img{
    max-width: 87.5vw;
  }
  .productDiv :where(.firstDiv, .secondDiv){
    width: calc(100vw - 5px);
    margin: 0;
    position: relative;
  }
  .productDiv .secondDiv > div, .productDiv .firstDiv > div{
    position: relative;
    max-width: 80%;
  }
}

@media screen and (max-width: 413px) {
  .loginModal, .signup{
    position: absolute;
    width: 100vw;
  }
  .loginModal form, .signup form{
    position: relative;
    width: 70vw;
  }
  .loginModal form label input{
    position: relative;
    width: 100%;
  }
  .loginModal form label span{
    left: -10px;
  }
  .loginModal form label{
    position: relative;
    width: 90%;
  }
  .loginModal form label input:focus~span,
  .loginModal form label input:valid~span{
    transform: translateY(-50px);
    padding: 5px;
  }

  .signup form label .eye{
    transform: translate(60vw, -37.5px);
  }

}

@media screen and (max-width: 380px) {
  .homeContent aside{
    width: 80%;
  }
}

@media screen and (max-width: 292px){
  .homeContent .homeRight .imageDiv{
    width: 40%;
  }
}

@media screen and (max-width: 260px) {
  .homeContent aside{
    width: 75vw;
  }
  .hugePanel .hasSearch input{
    width: 75vw;
  }
}
@media screen and (max-width: 240px){
  .homeContent .homeRight .imageDiv{
    width: 80%;
  }
}