:root{
  --darkColor: rgb(32, 32, 32);
  --whiteColor: rgb(255, 255, 255);
  --accentColor: rgb(71, 165, 37);
}

.topNav{
  display: flex;
  flex-direction: row;
  background-color: var(--whiteColor);
  align-items: center;
  padding: 12.5px;
}
.topNav {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  justify-content: space-between;
}
.topNav .links{
  text-decoration: none;
  color: var(--darkColor);
  margin: 0 25px;
}
.topNav .topLeft{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.topNav .topLeft img{
  width: 40px;
  height: 40px;
  border-radius: 5px;
}
.topNav .topRight{
  display: flex;
  flex-direction: row;
}

.hugePanel{
  background-color: var(--whiteColor);
  display: grid;
  place-items: center;
  padding: 100px 0;
}
.hugePanel .hasSearch{
  position: relative;
}
.hugePanel .hasSearch input[type="search"]{
  border: none;
  outline: none;
  padding: 15px;
  box-shadow: 5px 5px 5px 2px rgb(237, 237, 237);
  border-radius: 7.5px;
}
.hugePanel .hasSearch .icon{
  position: absolute;
  top: 13.5px;
  float: right;
  right: 10px;
  transition: .25s ease;
}
.hugePanel .hasSearch .icon:hover{
  transform: rotate(90deg);
}